*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho{

    /* font-family: "Roboto",sans-serif;
    font-weight: 500; */
    font-family: 'Times New Roman', Times, serif;

}



.box1{
    min-height: 100px;
    width: 100px;
    color: black;
    padding-right: 300px;
    padding-top: 30px;
    color: #fff;

    
}

.box2{
    min-height: 100px;
    width: 100px;
    color: #fff;
    margin-right: -50px;
    padding-top: 30px;
    
    
    
}

.box3{
    
    min-height: 100px;
    width: 100px;
    color: #fff;
    padding-top: 30px;
    
}

.box4{
    min-height: 100px;
    width: 100px;
    color: #fff;
    margin-left: -50px;
    padding-top: 30px;
    
}


.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;

}

.fundo{
    background-image: url(../img/banner-1280×640.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 1.5rem;
    max-width: 100wh;
    padding: 0;
    width: 100%;
    margin-top: -20px;


}