*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho{

    /* font-family: "Roboto",sans-serif;
    font-weight: 500; */
    font-family: 'Roboto',sans-serif;

}



.box1{
    font-size: 35px;
    min-height: 100px;
    width: 100px;
    color: black;
    padding-right: 300px;
    padding-top: 10px;
    color: #fff;
    margin-left: 3cm;

    
}
.box2{
    min-height: 100px;
    max-width: 6%;
    color: #fff;
    padding-top: 25px;
    margin-left: 9cm;
    
    
}

    
    


.box3{
    
    min-height: 100px;
    max-width: 5%;
    width: 100px;
    color: #fff;
    padding-top: 30px;
    margin-left: 2cm;
}

.box4{
    min-height: 100px;
    padding-top: 15px;
    max-width: 7%;
    background-color: transparent;
    margin-left: 2cm;
    
}


.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    align-items: center;

}

.fundo{
    background-image: url(../img/banner-1280×640.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 1.5rem;
    max-width: 100wh;
    padding: 0;
    width: 100%;
    margin-top: -20px;


}

.box img {     
    max-width: 90%;
    background-color: transparent;

}